html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%
}

body {
  background-color: rgb(114, 250, 173);
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  /* display: grid;*/
  display: flex;
  font-size: 4.5vw;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: grid;
  font-size: 4.5vw;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;;
  /* grid-template-areas: 
  "top top top"
  ". content ."
  "bottom bottom bottom" */
  border: solid black;
  min-height: 55vh;
  min-width: 40vw;
  justify-content: center;
}